<mat-toolbar color="primary" class="rerun-header mat-elevation-z1">
  <span class="rerun-title">reRun</span>
  <span class="rerun-fill-remaining-space"></span>
  <button mat-button *ngIf="showAddToHomescreen()" (click)="addToHomescreen()">
    <mat-icon>add_to_home_screen</mat-icon>
    Save to Homescreen
  </button>
  <button mat-icon-button *ngIf="isLoggedIn()" [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu" xPosition="before">
  <ng-template matMenuContent let-name="name">
    <button mat-menu-item disabled>
      <span>
        <img src="{{athlete.profile_medium}}" alt="athlete profile img" class="rerun-athlete-img">
        {{athlete.firstname}} {{athlete.lastname}}
      </span>
    </button>
    <button mat-menu-item (click)="refresh()">
      <mat-icon>autorenew</mat-icon>
      <span>Refresh Activities</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </ng-template>
</mat-menu>
