<div class="rerun-search-spinner" *ngIf="loadingActivities">
  <mat-spinner *ngIf="loadingActivities"></mat-spinner>
</div>

<div class="rerun-search-header">
  <mat-form-field class="rerun-search-field">
    <input matInput type="text" placeholder="Filter by distance"
           (keyup)="filterByDistanceKeyUp(distanceFilter)" [(ngModel)]="distanceFilter">
    <button mat-button *ngIf="distanceFilter" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearDistanceFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="rerun-search-field">
    <mat-label>Filter by location</mat-label>
    <mat-select [(ngModel)]="locationFilter" (ngModelChange)="filterByLocation(locationFilter)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let location of availableLocations" [value]="location">{{location}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource" [trackBy]="trackById" class="rerun-search-results"
           matSort matSortActive="start_date" matSortDisableClear matSortDirection="desc">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="start_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span class="desktop-only">{{ row.start_date | date:'EEEEEE, dd.MM.yyyy' }}</span>
      <span class="mobile-only">{{ row.start_date | date:'d.M.yy' }}</span>
      <span class="mat-body-2 desktop-only">{{ row.start_date | date:'HH:mm' }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="distance">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Distance</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ng-template [ngIf]="row.distance">
        <span>{{ (row.distance / 1000) | number:'1.1-1' }}</span>
        <span class="mat-body-2 desktop-only">km</span>
      </ng-template>
      <span *ngIf="!row.distance">-</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="moving_time">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Duration</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ (row.moving_time * 1000) | date:'H:mm.ss':'UTC' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="pace">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Pace</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ng-template [ngIf]="row.distance">
        <span>{{ (row.moving_time / row.distance * 1000000) | date:'m:ss':'UTC' }}</span>
        <span class="mat-body-2 desktop-only">/km</span>
      </ng-template>
      <span *ngIf="!row.distance">-</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="total_elevation_gain">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="desktop-only">Elevation</mat-header-cell>
    <mat-cell *matCellDef="let row" class="desktop-only">
      <ng-template [ngIf]="row.total_elevation_gain">
        <span class="mat-body-2">+</span>
        <span>{{ row.total_elevation_gain }}</span>
        <span class="mat-body-2">m</span>
      </ng-template>
      <span *ngIf="!row.total_elevation_gain">-</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="suffer_score">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="desktop-only">Suffer Score</mat-header-cell>
    <mat-cell *matCellDef="let row" class="desktop-only">
      <span *ngIf="row.suffer_score">{{ row.suffer_score }}</span>
      <span *ngIf="!row.suffer_score">-</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="details">
    <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a href="https://www.strava.com/activities/{{row.id}}" target="_blank"><img src="assets/strava.png" width="30px"></a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="numberOfActivities" [pageSize]="10"></mat-paginator>
