.rerun-search-results {
  overflow: auto;
  min-height: 500px;
}

.rerun-search-header {
  padding: 0 16px;
//  min-height: 64px;
//  display: flex;
//  align-items: center;
//  padding-left: 24px;
//  font-size: 20px;
//
  .mat-form-field {
    box-sizing: border-box;
    padding-right: 16px;
    &:last-of-type {
      padding-right: 0;
    }
  }
}

.rerun-search-spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rerun-search-field {
  width: 50%;
  max-width: 200px;
}

/* Column Widths */
.mat-column-distance,
.mat-column-moving_time,
.mat-column-pace,
.mat-column-total_elevation_gain,
.mat-column-suffer_score,
.mat-column-details {
  max-width: 85px;
}

.mat-column-start_date {
  max-width: 150px;
}

// breakpoint according to https://github.com/angular/flex-layout/wiki/Responsive-API
@media screen and (max-width: 599px) {
  .mat-column-distance,
  .mat-column-pace,
  .mat-column-details {
    max-width: 45px;
  }

  .mat-column-start_date {
    max-width: 70px;
  }
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 16px;
}
mat-cell:last-child,
mat-footer-cell:last-child,
mat-header-cell:last-child {
  padding-right: 16px;
}

.rerun-center-horizontal {
  margin-left: auto;
  margin-right: auto;
}
