.rerun-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  position: relative;
}

.rerun-table {
  overflow: auto;
  min-height: 500px;
}

.rerun-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;

  .mat-form-field {
    margin-right: 24px;
  }
}

.rerun-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Column Widths */
.mat-column-distance,
.mat-column-moving_time,
.mat-column-pace,
.mat-column-total_elevation_gain,
.mat-column-suffer_score,
.mat-column-details {
  max-width: 85px;
}

.mat-column-start_date {
  max-width: 150px;
}

// breakpoint according to https://github.com/angular/flex-layout/wiki/Responsive-API
@media screen and (max-width: 599px) {
  .mat-column-distance,
  .mat-column-moving_time {
    max-width: 75px;
  }

  .mat-column-pace,
  .mat-column-details {
    max-width: 45px;
  }

  .mat-column-start_date {
    max-width: 75px;
  }
}
